@page "/"
@using Georeach.Components

<div class="space-y-8">
    <LocationInput @bind-Location="SetLocation" />

    <WeatherDisplay Location="@SetLocation" />

    <EventsList />
</div>

@code {
    private string SetLocation { get; set; } = "London";
}