@using Microsoft.AspNetCore.Components.QuickGrid

<section id="events" class="rounded-lg border py-4 space-y-4">

    <h2 class="text-3xl font-bold px-4">Upcoming Events</h2>

    <div class="flex space-x-4 justify-between items-center px-4">
        <div class="grow border bg-gray-50 rounded-full flex space-x-4 items-center p-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                <path d="M21 21l-6 -6" />
            </svg>
            <input type="search" name="searchText" id="searchText"
                class="grow bg-transparent border-transparent focus:outline-none focus:border-none"
                placeholder="Search for events">
        </div>

        <div class="sm:grow flex justify-end items-center">
            <button class="btn btn-outline flex items-center space-x-2 text-sm">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="16" height="16"
                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 5l0 14" />
                    <path d="M5 12l14 0" />
                </svg>
                <span>Filters</span>
            </button>
        </div>
    </div>

    <div class="w-full overflow-scroll">
        <table class="w-full table-auto">
            <thead class="bg-gray-100">
                <tr class="text-gray-500 uppercase text-sm">
                    <th scope="col" class="px-4 py-2.5">Title</th>
                    <th scope="col" class="px-4 py-2.5">Date</th>
                    <th scope="col" class="px-4 py-2.5">Description</th>
                    <th scope="col" class="px-4 py-2.5">Location</th>
                    <th scope="col" class="px-4 py-2.5">Tickets</th>
                    <th scope="col" class="px-4 py-2.5"></th>
                </tr>
            </thead>

            <tbody>
                @for(int i = 0; i < events.Count; i++) {
                    <tr>
                        <td class="px-4 py-2.5">@events[i].Title</td>
                        <td class="px-4 py-2.5">@events[i].Date.ToLongDateString()</td>
                        <td class="px-4 py-2.5">@events[i].Description</td>
                        <td class="px-4 py-2.5">@events[i].Location</td>
                        <td class="px-4 py-2.5">
                            <a href="" class="text-primary">Buy</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</section>


@code {
    private PaginationState state = new PaginationState { ItemsPerPage = 1 };
    private record Event(string Title, DateTime Date, string Description, string Location, RenderFragment TicketLink);

    private List<Event> events => new List<Event>
{
new Event("Art Exhibition", DateTime.Parse("2023-11-10"), "A display of modern art.", "New York, NY",
builder => builder.AddMarkupContent(0, "<a href=\"#\" class=\"text-blue-500\">Buy</a>")),
new Event("Food Festival", DateTime.Parse("2023-11-15"), "A day of gourmet food.", "San Francisco, CA",
builder => builder.AddMarkupContent(0, "<a href=\"#\" class=\"text-blue-500\">Buy</a>")),
new Event("Tech Conference", DateTime.Parse("2023-11-20"), "Exploring the latest in tech.", "Austin, TX",
builder => builder.AddMarkupContent(0, "<a href=\"#\" class=\"text-blue-500\">Buy</a>")),
};
}