<form>
    <div>
        <label for="location" class="mb-2 block">Enter location to get weather details: </label>
        <input type="text" name="" id="" class="w-full p-2 rounded-lg border">
    </div>
</form>