<form>
    <div>
        <label for="location" class="mb-2 block">Enter location to get weather details: </label>
        <input class="w-full p-2 rounded-lg border" value="@Location" @onchange="OnLocationChange" type="text">
    </div>
</form>

@code {
    [Parameter, EditorRequired]
    public string Location { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> LocationChanged { get; set; }


    private async Task OnLocationChange(ChangeEventArgs e)
    {
        string? newLocation = e.Value?.ToString();

        if (newLocation == Location) return;

        if (LocationChanged.HasDelegate)
        {
            await LocationChanged.InvokeAsync(newLocation);
        }
    }
}