<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Ignore requests to the API path and let them go directly to the API app -->
        <rule name="Ignore API Path" stopProcessing="true">
          <match url="^api/.*" />
          <conditions logicalGrouping="MatchAll" />
          <action type="None" />
        </rule>

        <!-- Redirect all other requests to index.html of the Blazor app -->
        <rule name="SPA Blazor" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
