@inherits LayoutComponentBase
<div class="container py-8 flex flex-col items-center justify-center space-y-4">
    <img src="/images/app-logo.svg" alt="Georeach" class="w-40">

    <main class="container">
        @Body
    </main>
</div>
